{% extends "_layouts/main" %}

{% block main %}

<article>

	<div class="backdrop backdrop--fixed full-height" id="article-introduction">

		<div class="backdrop__image">
			<img class="opacity-30" src="./images/backdrop-example-03.jpg" alt="Placeholder">
		</div>

		<div class="backdrop__cover">

			<div class="container medium text-align-center margin-y-5">

				<h1 class="screen-reader-only">
					{{ entry.header }}
				</h1>

				<div class="banner-headline">
					{{ entry.paragraph }}
				</div>

				<a href="#cool" class="button button--outline margin-y-4">
					{{ entry.linkText }}
				</a>

			</div>

		</div>

	</div>
	<!-- .backdrop -->

	<div class="overflow-hidden" id="cool">

		<div class="container narrow margin-y-5">

			<h2>Lorem ipsum dolor</h2>

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum inventore, unde
				                        architecto voluptate voluptas distinctio commodi quaerat, possimus odio sint harum
				                        dignissimos accusamus reiciendis sit? Quam earum quaerat tempora fugiat. Sequi
				                        suscipit voluptas
				<a href="#1">obcaecati repellendus</a>.
			</p>

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum inventore, unde
				                        architecto voluptate voluptas distinctio commodi quaerat, possimus odio sint harum
				                        dignissimos accusamus reiciendis sit? Quam earum quaerat tempora fugiat. Sequi
				                        suscipit voluptas obcaecati repellendus.
			</p>

			<h3>Lorem ipsum dolor</h3>

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum inventore, unde
				                        architecto voluptate voluptas distinctio commodi quaerat, possimus odio sint harum
				                        dignissimos accusamus reiciendis sit? Quam earum quaerat tempora fugiat. Sequi
				                        suscipit voluptas obcaecati repellendus.
			</p>

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum inventore, unde
				                        architecto voluptate voluptas distinctio commodi quaerat, possimus odio sint harum
				                        dignissimos accusamus reiciendis sit? Quam earum quaerat tempora fugiat. Sequi
				                        suscipit voluptas obcaecati repellendus.
			</p>

			<ul>
				<li>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore commodi,
					                            recusandae accusantium pariatur, voluptate ab ullam a sed, nesciunt minus
					                            aut similique dolorem repudiandae.
				</li>
				<li>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore commodi,
					                            recusandae accusantium pariatur, voluptate ab ullam a sed, nesciunt minus
					                            aut similique dolorem repudiandae.
				</li>
				<li>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore commodi,
					                            recusandae accusantium pariatur, voluptate ab ullam a sed, nesciunt minus
					                            aut similique dolorem repudiandae.
				</li>
			</ul>

		</div>

	</div>

</article>

{% endblock %}