{% extends "_layouts/main" %}

{% block main %}

	<article>

		<div class="backdrop backdrop--fixed full-height" id="article-introduction">

			<div class="backdrop__image">
				<img class="opacity-70" src="/dist/images/backdrop-example-03.jpg" alt="Placeholder">
			</div>

			<div class="backdrop__cover">

				<div class="container medium text-align-center margin-y-5">

					<h1 class="screen-reader-only">
						{{ entry.header }}
					</h1>

					<div class="banner-headline">
						{{ entry.paragraph }}
					</div>

					<a href="#bio" class="button theme-dark margin-y-4">
						{{ entry.linkText }}
					</a>

				</div>

			</div>

		</div>
		<!-- .backdrop -->

		<div class="overflow-hidden" id="bio">

			<section>

				<div class="container narrow margin-y-5">

					<h2>Artist's statement</h2>

					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum consequuntur ratione aliquid velit veritatis expedita quibusdam praesentium dolorum nihil illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum consequuntur ratione aliquid velit veritatis expedita quibusdam praesentium dolorum nihil illo.
					</p>

					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum consequuntur ratione aliquid velit veritatis expedita quibusdam praesentium dolorum nihil illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum consequuntur ratione aliquid velit veritatis expedita quibusdam praesentium dolorum nihil illo.
					</p>

					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum consequuntur ratione aliquid velit veritatis expedita quibusdam praesentium dolorum nihil illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum consequuntur ratione aliquid velit veritatis expedita quibusdam praesentium dolorum nihil illo.
					</p>

					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum consequuntur ratione aliquid velit veritatis expedita quibusdam praesentium dolorum nihil illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum consequuntur ratione aliquid velit veritatis expedita quibusdam praesentium dolorum nihil illo.
					</p>

				</div>

			</section>

		</div>

	</article>

{% endblock %}
