<nav class="container narrow margin-y-4">

    <ul class="nav nav--divider nav--horizontal--sm border font-size-sm">
        <li>
            <a href="/work" {% if category == 'All' %} aria-current="page" {% endif %}>All</a>
        </li>
		<li>
			<a href="/work/drawing" {% if category == 'Drawing' %} aria-current="page" {% endif %}>Drawing</a>
		</li>
		<li>
			<a href="/work/painting" {% if category == 'Painting' %} aria-current="page" {% endif %}>Painting</a>
		</li>
		<li>
			<a href="/work/studies" {% if category == 'Studies' %} aria-current="page" {% endif %}>Studies</a>
		</li>
	</ul>

</nav>
