<nav class="container narrow margin-y-4">

    <ul class="nav nav--divider nav--horizontal--sm border font-size-sm">
        <li>
            <a {% if category == 'All' %} class="subtle-fill" aria-current="page" {% endif %} href="/work">
				All
			</a>
        </li>
		<li>
			<a {% if category == 'Drawing' %} class="subtle-fill" aria-current="page" {% endif %} href="/work/drawing">
				Drawing
			</a>
		</li>
		<li>
			<a {% if category == 'Painting' %} class="subtle-fill" aria-current="page" {% endif %} href="/work/painting">
				Painting
			</a>
		</li>
		<li>
			<a {% if category == 'Studies' %} class="subtle-fill" aria-current="page" {% endif %} href="/work/studies">
				Studies
			</a>
		</li>
	</ul>

</nav>
