/*

In this file:

// A. Modules
// B. Variables
// C. Backdrop Block
// D. Backdrop Elements
// E. Backdrop Breakpoint Modifiers
// F. Backdrop Fixed Modifier

*/


//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoints/style" as breakpoints;
@use "../accents/style" as accents;

//////////////////////////////////////////////
// B. Work Thumbnail
//////////////////////////////////////////////

.work-thumbnail {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    height: 100%;

    text-align: center;

    &:hover, 
    &:focus, 
    &:active {
        * { 
            text-decoration: none;
        }
    }
}

.work-thumbnail__image,
.work-thumbnail__info {
    padding-left: var(--spacer-2);
    padding-right: var(--spacer-2);
}

.work-thumbnail__image {
    position: relative;
    display: flex;
    flex-grow: 1;

    padding-top: var(--spacer-2);
    padding-bottom: var(--spacer-2);

    img {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.work-thumbnail__info {
    padding-bottom: var(--spacer-2);

    a {
        font-weight: var(--body-font-weight-bold);
        font-family: var(--body-font-family);
        font-size: var(--font-size-md);
    }
    
    p {
        font-size: var(--font-size-sm);
        opacity: 0.7;
    }

}
// Work Image Zoom

.workCanvas-toolbar {
    position: relative;
    z-index: 200;

    button.button--icon-only {
        display: flex !important;
    }
}

.workCanvas {
    position: relative;
    width: 100%;
    height: 100%;
}

.workCanvas__display {
    position: absolute;
}

.workCanvas__display {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.openseadragon-canvas {
    &:focus, 
    &:active {
        outline: none;
    }
}
