{% extends "_layouts/main" %}

{% block main %}

<div class="border-top border-bottom overflow-hidden">

	<div class="container medium margin-y-4">

		{% set entryQuery = craft.entries()
			.section('journal')
			.orderBy('postDate desc')
			.limit(10)
		%}
		
		{% set entries = entryQuery.all() %}

		{% for entry in entries %}

		<div class="grid grid--cells-6--md align-items-center margin-y-3">
			<div class="grid__cell">
				<img src="https://via.placeholder.com/700x500.webp?text=Thumbnail" alt="Placeholder">
			</div>
			<div class="grid__cell">
				<div class="padding-4">
					<p class="sans-serif font-size-sm margin-bottom-2">
						{{ entry.postDate | date('F d, Y') }}
					</p>
					<h2 class="h1">
						<a class="display-block" href="{{ entry.url }}">
							{{ entry.title }}
						</a>
					</h2>
				</div>
			</div>
		</div>
        
		{% endfor %}

	</div>

</div>

{% endblock %}