{% extends "_layouts/main" %}

{% block main %}

<div class="border-top border-bottom overflow-hidden">

<div class="margin-y-5">

	<div class="container narrow medium--md wide--lg">

		<div class="grid grid--gap-3 align-items-center">

			<div class="grid__cell grid__cell-4--lg">

				<div class="narrow">
					<h1>
						Lorem ipsum dolor sit amet consectetur
					</h1>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui expedita consequuntur odit maiores reiciendis voluptatum facilis eius sunt totam. Nesciunt inventore deleniti ea obcaecati, dolorem aut accusantium dolor beatae nemo?</p>
					
				</div>
			</div>

			<div class="grid__cell grid__cell-8--lg">
				<img class="width-100" src="https://via.placeholder.com/1000x715" alt="Placeholder">
			</div>
			
		</div>

		<hr class="margin-y-4">

		<div class="grid grid--gap-3 grid--cells-4--md align-items-center">

		<div class="grid__cell">

			<div class="article-intro">
				<img class="margin-bottom-1" src="https://via.placeholder.com/1000x715" alt="Placeholder">
				<h2 class="h6">
					Lorem ipsum dolor sit amet consectetur
				</h2>
			</div>
		
		</div>
		<div class="grid__cell">

			<div class="article-intro">
				<img class="margin-bottom-1" src="https://via.placeholder.com/1000x715" alt="Placeholder">
				<h2 class="h6">
					Lorem ipsum dolor sit amet consectetur
				</h2>
			</div>
		
		</div>
		<div class="grid__cell">

			<div class="article-intro">
				<img class="margin-bottom-1" src="https://via.placeholder.com/1000x715" alt="Placeholder">
				<h2 class="h6">
					Lorem ipsum dolor sit amet consectetur
				</h2>
			</div>
		
		</div>
		<div class="grid__cell">

			<div class="article-intro">
				<img class="margin-bottom-1" src="https://via.placeholder.com/1000x715" alt="Placeholder">
				<h2 class="h6">
					Lorem ipsum dolor sit amet consectetur
				</h2>
			</div>
		
		</div>
		<div class="grid__cell">

			<div class="article-intro">
				<img class="margin-bottom-1" src="https://via.placeholder.com/1000x715" alt="Placeholder">
				<h2 class="h6">
					Lorem ipsum dolor sit amet consectetur
				</h2>
			</div>
		
		</div>
		<div class="grid__cell">

			<div class="article-intro">
				<img class="margin-bottom-1" src="https://via.placeholder.com/1000x715" alt="Placeholder">
				<h2 class="h6">
					Lorem ipsum dolor sit amet consectetur
				</h2>
			</div>
		
		</div>
		<div class="grid__cell">

			<div class="article-intro">
				<img class="margin-bottom-1" src="https://via.placeholder.com/1000x715" alt="Placeholder">
				<h2 class="h6">
					Lorem ipsum dolor sit amet consectetur
				</h2>
			</div>
		
		</div>
		<div class="grid__cell">

			<div class="article-intro">
				<img class="margin-bottom-1" src="https://via.placeholder.com/1000x715" alt="Placeholder">
				<h2 class="h6">
					Lorem ipsum dolor sit amet consectetur
				</h2>
			</div>
		
		</div>
		<div class="grid__cell">

			<div class="article-intro">
				<img class="margin-bottom-1" src="https://via.placeholder.com/1000x715" alt="Placeholder">
				<h2 class="h6">
					Lorem ipsum dolor sit amet consectetur
				</h2>
			</div>
		
		</div>

		
		</div>


	</div>

</div>


</div>

{% endblock %}
