{% extends "_layouts/main" %}

{% block main %}

<article>

	<div class="backdrop backdrop--fixed" id="article-introduction">

		<div class="backdrop__image">
			<img class="opacity-10" src="./images/backdrop-example-03.jpg" alt="Placeholder">
		</div>

		<div class="backdrop__cover">

			<div class="container narrow fs-lg margin-y-5">

				<h1 class="banner-headline">
					About Carl
				</h1>

				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, vero hic enim illum id deserunt dignissimos inventore dicta dolor earum. Dicta consectetur ducimus veniam fugiat.
				</p>

				<a href="#cool" class="btn btn--outline">Full Bio</a>

			</div>
			<!-- .container -->

		</div>
		<!-- .backdrop__cover -->

	</div>
	<!-- .backdrop -->

	<div class="overflow-hidden" id="cool">

		<div class="container narrow margin-y-3 display-none">

			<div class="grid grid--gap-3 ">
				<div class="grid__cell">
					<p class="fs-xl mb-1">Extra Large (.fs-xl)</p>
					<p class="fs-lg mb-1">Large (.fs-lg)</p>
					<p class="fs-rg mb-1">Regular (.fs-rg)</p>
					<p class="fs-md mb-1">Medium (.fs-md)</p>
					<p class="fs-sm mb-1">Small (.fs-sm)</p>
				</div>
				<div class="grid__cell sans-serif">
					<p class="fs-xl mb-1">Extra Large (.fs-xl)</p>
					<p class="fs-lg mb-1">Large (.fs-lg)</p>
					<p class="fs-rg mb-1">Regular (.fs-rg)</p>
					<p class="fs-md mb-1">Medium (.fs-md)</p>
					<p class="fs-sm mb-1">Small (.fs-sm)</p>
				</div>
			</div>

		</div>

		<div class="container narrow margin-y-5">

			<h2>Lorem ipsum dolor</h2>

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum inventore, unde
				                        architecto voluptate voluptas distinctio commodi quaerat, possimus odio sint harum
				                        dignissimos accusamus reiciendis sit? Quam earum quaerat tempora fugiat. Sequi
				                        suscipit voluptas
				<a href="#1">obcaecati repellendus</a>.
			</p>

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum inventore, unde
				                        architecto voluptate voluptas distinctio commodi quaerat, possimus odio sint harum
				                        dignissimos accusamus reiciendis sit? Quam earum quaerat tempora fugiat. Sequi
				                        suscipit voluptas obcaecati repellendus.
			</p>

			<h3>Lorem ipsum dolor</h3>

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum inventore, unde
				                        architecto voluptate voluptas distinctio commodi quaerat, possimus odio sint harum
				                        dignissimos accusamus reiciendis sit? Quam earum quaerat tempora fugiat. Sequi
				                        suscipit voluptas obcaecati repellendus.
			</p>

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum inventore, unde
				                        architecto voluptate voluptas distinctio commodi quaerat, possimus odio sint harum
				                        dignissimos accusamus reiciendis sit? Quam earum quaerat tempora fugiat. Sequi
				                        suscipit voluptas obcaecati repellendus.
			</p>

			<ul>
				<li>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore commodi,
					                            recusandae accusantium pariatur, voluptate ab ullam a sed, nesciunt minus
					                            aut similique dolorem repudiandae.
				</li>
				<li>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore commodi,
					                            recusandae accusantium pariatur, voluptate ab ullam a sed, nesciunt minus
					                            aut similique dolorem repudiandae.
				</li>
				<li>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore commodi,
					                            recusandae accusantium pariatur, voluptate ab ullam a sed, nesciunt minus
					                            aut similique dolorem repudiandae.
				</li>
			</ul>

		</div>

	</div>

</article>


{% endblock %}
