{% extends "_layouts/main" %}

{% block main %}

    <div class="height-100">

        <div class="height-100" id="home-features">

            <div class="one">

                <div class="backdrop backdrop--fixed">

                    <div class="backdrop__image">
                        <img class="opacity-50" src="./images/backdrop-example-01.jpg" alt="Placeholder">
                    </div>

                    <div class="backdrop__cover">

                        <div class="container medium margin-y-4 text-align-center">
                            <a class="banner-headline" href="#1">
                                Latest Work
                            </a>
                        </div>

                    </div>

                </div>
                <!-- .backdrop -->

            </div>

            <div class="two">

                <div class="backdrop backdrop--fixed">

                    <div class="backdrop__image">
                        <img class="opacity-50" src="./images/backdrop-example-02.jpg" alt="Placeholder">
                    </div>

                    <div class="backdrop__cover">
                        <div class="container medium text-align-center">
                            <h2 class="h5 sans-serif">
                                Sketchbook
                            </h2>
                        </div>
                    </div>

                </div>
                <!-- .backdrop -->

            </div>

            <div class="three">

                <div class="backdrop backdrop--fixed">

                    <div class="backdrop__image">
                        <img class="opacity-50" src="./images/backdrop-example-03.jpg" alt="Placeholder">
                    </div>

                    <div class="backdrop__cover">

                        <div class="container medium text-align-center">
                            <h2 class="h5 sans-serif">
                                Bio
                            </h2>
                        </div>

                    </div>

                </div>
                <!-- .backdrop -->

            </div>

        </div>

    </div>

{% endblock %}
