{% extends "_layouts/main" %}

{% block main %}

<div>

	<ul class="nav nav--divider nav--horizontal border-bottom font-size-md">
		<li>
			<a href="#1" aria-current="page">Latest</a>
		</li>
		<li>
			<a href="#1">Oils</a>
		</li>
		<li>
			<a href="#1">Watercolor</a>
		</li>
		<li>
			<a href="#1">Drawing</a>
		</li>
	</ul>

	<div class="container narrow text-align-center margin-y-4">
		<h1 class="sans-serif">
			Latest Work
		</h1>
	</div>

	<div class="container medium margin-y-4" id="work-grid">
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="cell">
			<img src="https://via.placeholder.com/400x400.webp?text=Thumbnail" alt="Placeholder">
		</div>

	</div>

</div>


{% endblock %}