{% extends "_layouts/main" %}

{% block main %}

<div class="container border-top border-bottom">
	<ul class="nav nav--divider nav--horizontal sans-serif font-size-md">
		<li>
			<a href="#1" aria-current="page">Latest</a>
		</li>
		<li>
			<a href="#1">Drawing</a>
		</li>
		<li>
			<a href="#1">Painting</a>
		</li>

		<li>
			<a href="#1">Sketchbook</a>
		</li>
	</ul>
</div>

<div class="container narrow text-align-center margin-y-4">
	<h1 class="sans-serif">
		Latest Work
	</h1>
</div>

<div class="container medium margin-y-4">

	<div class="grid grid--gap-3 grid--cells-4--md">

		<div class="grid__cell">
			<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="grid__cell">
			<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="grid__cell">
			<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="grid__cell">
			<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="grid__cell">
			<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="grid__cell">
			<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="grid__cell">
			<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="grid__cell">
			<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
		</div>
		<div class="grid__cell">
			<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
		</div>
	</div>

</div>

{% endblock %}