/*

In this file:

// A. Custom Properties
// B. Variables
// C. Font Weight Utilities
// D. Font Size Utilities
// E. Headers
// F. Body Selectors
// G. Last Child Margin Bottom
// H. Text Align Utilities
// I. Word Wrap Utilities
// J. Truncate Text

*/

//////////////////////////////////////////////
// A. Custom Properties
//////////////////////////////////////////////

:root {

    // Colors

    --primary: #e32831;
    --dark: #000000;
    --light: #fff1e5;

    --primary-text: white;
    --light-text: #40362d;

    --a11y-link-color: currentColor;

    // Fonts

    --body-font-family: "neue-haas-unica";
    --body-font-size: 22px;
    --body-line-height: 1.25;

    // Font Sizes

    --font-size-sm: calc(var(--body-font-size) * 0.6);      // ~ 18px
    --font-size-md: calc(var(--body-font-size) * 0.75);     // ~ 18px
    --font-size-rg: calc(var(--body-font-size) * 1);        // = 22px
    --font-size-lg: calc(var(--body-font-size) * 1.25);     // ~ 26px
    --font-size-xl: calc(var(--body-font-size) * 1.5);      // ~ 30px

    // Colors

    --banner-headline-font-size: calc(var(--body-font-size) * 4);  // 
    --banner-headline-font-weight: 900;

    --h1-font-size: calc(var(--body-font-size) * 2.3);      // 60px
    --h2-font-size: calc(var(--body-font-size) * 2.2);      // 44px
    --h3-font-size: calc(var(--body-font-size) * 1.8);
    --h4-font-size: calc(var(--body-font-size) * 1.6);
    --h5-font-size: calc(var(--body-font-size) * 1.4);      // 24px
    --h6-font-size: calc(var(--body-font-size) * 1.1);      // 22px

    --header-line-height: 1;
}

body {
    --body-max-width: 100%;
}

.backdrop--fixed {
    --backdrop-fixed-height: 100%;
}