/*

In this file:

// A. Custom Properties

*/

//////////////////////////////////////////////
// A. Custom Properties
//////////////////////////////////////////////

:root {
    --primary: #e32831;
    --dark: #000000;

    --a11y-link-color: currentColor;
}
