/*

In this file:

// A. Custom Properties

*/

//////////////////////////////////////////////
// A. Custom Properties
//////////////////////////////////////////////

:root {
    --primary: #e32831 !important;
    --dark: #000000 !important;

    --a11y-link-color: currentColor;
}
