/*

In this file:

// A. Theme Mode

*/

:root {
    --backdrop-image-opacity: 0.7;
}

.backdrop__image img:not([class*="opacity-"]) {
    opacity: var(--backdrop-image-opacity);
}

//////////////////////////////////////////////
// A. Theme Mode 
//////////////////////////////////////////////

body.theme-dark {
    --backdrop-image-opacity: 0.5;
}