{% extends "_layouts/main" %}

{% block main %}

<div class="border-top border-bottom overflow-hidden">

	<nav class="container narrow margin-y-4">

		<ul class="nav nav--divider nav--horizontal border sans-serif font-size-sm">
			<li>
				<a href="/work/drawing" {% if category == 'Drawing' %} aria-current="page" {% endif %}>
					Drawing
				</a>
			</li>
			<li>
				<a href="/work/painting" {% if category == 'Painting' %} aria-current="page" {% endif %}>
					Painting
				</a>
			</li>
			<li>
				<a href="/work/sketchbook" {% if category == 'Sketchbook' %} aria-current="page" {% endif %}>
					Sketchbook
				</a>
			</li>
		</ul>

	</nav>

	<div class="container medium margin-y-4">
	
		<h1 class="screen-reader-only">
			{{ category.title }}
		</h1>

		<div class="container medium margin-y-4">

			<div class="grid grid--gap-3 grid--cells-4--md justify-content-center">

				{% for entry in craft.entries.section('work').relatedTo(category).all() %}

				<div class="grid__cell">
					<a class="display-block" href="{{ entry.url }}">
						{% for image in entry.workThumbnail.all() %}
							<img src="{{ image.getUrl('workThumbnail') }}" alt="{{ entry.title }}">
						{% endfor %}
					</a>
				</div>

				{% endfor %}
			
			</div>

		</div>


	</div>

</div>

{% endblock %}