{% extends "_layouts/main" %}

{% block main %}

<div class="border-top border-bottom overflow-hidden">

	<header class="container narrow">

		<h1 class="banner-headline margin-y-4">
			{{ entry.title }}
		</h1>

	</header>

</div>

{% endblock %}