{% extends "_layouts/main" %}

{% block main %}

<div class="border-top border-bottom overflow-hidden">

	<header class="container narrow display-none">

		<h1 class="banner-headline margin-y-4">
			{{ entry.title }}
		</h1>

	</header>


	<div class="container medium">

		{% for image in entry.workImage.all() %}
			<img class="display-none" src="{{ image.getUrl() }}" alt="{{ entry.title }}" id="cool" >
		{% endfor %}
		
		<div class="workCanvas">

			<div class="workCanvas__display" id="openseadragon"></div>

			<div class="workCanvas__toolbar">

				<div class="button-group justify-content-start">
					<button class="button button--icon-only" aria-label="Zoom In" id="zoom-in">
						<span class="nyc_icon_plus" aria-hidden="true"></span>
					</button>
					<button class="button button--icon-only" aria-label="Zoom Out" id="zoom-out">
						<span class="nyc_icon_minus" aria-hidden="true"></span>
					</button>
					<button class="button button--icon-only" aria-label="Original Size" id="home">
						<span class="nyc_icon_shrink" aria-hidden="true"></span>
					</button>
					<button class="button button--outline" id="full-page">
						Full Screen
					</button>
				</div>
				
			</div>
		
		</div>

	</div>


</div>

{% endblock %}