{% extends "_layouts/main" %}

{% block main %}

<div class="border-top border-bottom overflow-hidden">

	{% set category = 'All' %}

	{{ include('_includes/work-nav.html') }}

	<div class="container narrow medium--lg margin-y-4">
	
		<div class="grid grid--gap-3 grid--cells-3--md justify-content-center">

			{% for entry in craft.entries.section('work').all() %}
				
			{{ include('_includes/work-thumbnail.html') }}

			{% endfor %}

		</div>

	</div>

</div>

{% endblock %}