{% extends "_layouts/main" %}

{% block main %}

<div class="border-top border-bottom overflow-hidden">

	<div class="container narrow margin-y-4">

		<ul class="nav nav--divider nav--horizontal border sans-serif font-size-sm">
			<li>
				<a href="#1">Drawing</a>
			</li>
			<li>
				<a href="#1">Painting</a>
			</li>
			<li>
				<a href="#1">Sketchbook</a>
			</li>
		</ul>

	</div>

	<div class="container medium margin-y-4">
	
		<div class="grid grid--gap-3 grid--cells-4--md">

			<div class="grid__cell">
				<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
			</div>
			<div class="grid__cell">
				<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
			</div>
			<div class="grid__cell">
				<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
			</div>
			<div class="grid__cell">
				<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
			</div>
			<div class="grid__cell">
				<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
			</div>
			<div class="grid__cell">
				<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
			</div>
			<div class="grid__cell">
				<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
			</div>
			<div class="grid__cell">
				<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
			</div>
			<div class="grid__cell">
				<img src="https://via.placeholder.com/800x800.webp?text=Thumbnail" alt="Placeholder">
			</div>
		</div>

	</div>
	
	<div class="overflow-hidden margin-y-4">
	
		<div class="button-group justify-content-center font-size-md" role="menu">
			<a class="button button--icon-only" href="#1" aria-label="Facebook">
				<span class="nyc_icon_facebook" aria-hidden="true"></span>
			</a>
			<a class="button button--icon-only" href="#1" aria-label="twitter">
				<span class="nyc_icon_twitter" aria-hidden="true"></span>
			</a>
			<a class="button button--icon-only" href="#1" aria-label="twitter">
				<span class="nyc_icon_mail" aria-hidden="true"></span>
			</a>
		</div>

	</div>

</div>

{% endblock %}