{% extends "_layouts/main" %}

{% block main %}

<div class="border-top border-bottom overflow-hidden">

	{% set category = 'All' %}

	{{ include('_includes/nav-work.html') }}

	<div class="container medium margin-y-4">
	
		<div class="grid grid--gap-3 grid--cells-4--md">

		{% for entry in craft.entries.section('work').all() %}

			<div class="grid__cell">
				<a class="display-block" href="{{ entry.url }}">
					{% for image in entry.workThumbnail.all() %}
						<img src="{{ image.getUrl('workThumbnail') }}" alt="{{ entry.title }}">
					{% endfor %}
				</a>
			</div>

		{% endfor %}

		</div>

	</div>
	
	<div class="overflow-hidden margin-y-4">
	
		<div class="button-group justify-content-center font-size-md" role="menu">
			<a class="button button--icon-only" href="#1" aria-label="Facebook">
				<span class="nyc_icon_facebook" aria-hidden="true"></span>
			</a>
			<a class="button button--icon-only" href="#1" aria-label="twitter">
				<span class="nyc_icon_twitter" aria-hidden="true"></span>
			</a>
			<a class="button button--icon-only" href="#1" aria-label="twitter">
				<span class="nyc_icon_mail" aria-hidden="true"></span>
			</a>
		</div>

	</div>

</div>

{% endblock %}